body {
    width: 100%;
    margin: 0;
    font-family: monospace, sans-serif;
    font-size: 20px;
}

img {
    width: 100%;
}

.container {
    color: #111;
    margin: 20px auto;
    width: 700px;
}

.msbtn {
    margin-bottom: 10px;
    padding: 15px 30px;
    border-radius: 2px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #FFF;
    background: #EBE8D9;
    border-left: 2px solid #FFF;
    cursor: pointer;
}
